extends ../layouts/main
link(rel="stylesheet", href="/css/auth/logout.css")

block contenido
    .container
        h2 👋 Sesión Cerrada
        p Has cerrado tu sesión exitosamente.
        p ¡Vuelve pronto!
        a.btn.btn-primary(href="/") Ir a la página de inicio
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
