header
    
    nav 
        ul 
            li 
                a(href="/") Inicio
            li 
                a(href="/auth/login") Login
            li 
                a(href="/auth/logout") Logout
            li 
                a(href="/admin/camiseta") Listado de Camisetas
            li 
                a(href="/admin/usuarios/list") Listado de Usuarios
            li 
                a(href="/admin/camiseta/add") Añadir una Camiseta
