header
    link(rel="stylesheet", href="/css/layouts/cabecera.css")
    nav 
        ul
            li: a(href="/indexRegistrado") Inicio
            if !user
                li: a(href="/auth/login") Login
            else
                li: a(href="/auth/logout") Logout

            if isAdmin
                li: a(href="/admin/indexRegistrado") Listado de Camisetas
                li: a(href="/admin/usuarios/list") Listado de Usuarios
                li: a(href="/admin/camiseta/add") Añadir una Camiseta
            if !isAdmin && user
                li: a(href="/auth/carrito") Carrito
