// --- CABECERA (HEADER) ---
header.neobrutalista-header
    // ENLACE A TU ARCHIVO DE ESTILOS PERSONALIZADO
    link(rel="stylesheet", href="/css/layouts/cabecera.css")
    
    // Componente Navbar de Bootstrap
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.p-3
        .container-fluid
            // Marca o Logo
            a.navbar-brand.neobrutalista-brand(href="/") Venta Camisetas 

            // Bot贸n Toggler para dispositivos m贸viles (requiere JS de Bootstrap)
            button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon

            // Contenedor de los enlaces
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav.ms-auto 
                    li.nav-item
                        a.nav-link.neobrutalista-button(href="/indexRegistrado") Inicio

                    // L贸gica del ADMINISTRADOR
                    if isAdmin 
                        li.nav-item
                            a.nav-link.neobrutalista-button-admin(href="/admin/indexRegistrado") Listado de Camisetas
                        li.nav-item
                            a.nav-link.neobrutalista-button-admin(href="/admin/usuarios/list") Listado de Usuarios
                        li.nav-item
                            a.nav-link.neobrutalista-button-admin(href="/admin/camiseta/add") A帽adir Camiseta
                    else 
                        // L贸gica para USUARIO NORMAL (Carrito)
                        if user 
                            li.nav-item
                                a.nav-link.neobrutalista-button(href="/carrito/list") Carrito 
                    
                    // L贸gica de AUTENTICACIN
                    if !user 
                        li.nav-item
                            a.nav-link.neobrutalista-button(href="/auth/login") Login
                    else 
                        li.nav-item
                            a.nav-link.neobrutalista-button(href="/auth/logout") Logout
br
br

