doctype html
html(lang="es")
    include head
        
    style.
      body {
        /* Fondo Gris Claro Neobrutalista */
        background-color: #2F4F4F; 
      }

    body 
        div.container

            include cabecera 

            block contenido

            include pie
