doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hola Mundo
    body 
        div
            h1 Hola Mundo
            h2 Mi primera página güeb con PUG
            div 
                p Esto es un párrafo 
                p Esto es otro párrafo
                p Hola