doctype html
html
  head
    link(rel="stylesheet", href="/css/index.css") 
    title Inicio
  body
    h1 **Nombre de la tienda hell yeah**
    div 
      a(href="/auth/login") Iniciar sesion 
    div 
      a(href="/auth/register") Registrarse