doctype html
html
  head
    title Inicio
  body
    h1 Bienvenido a la tienda de camisetas #{user.username} !
    if !isAdmin 
      div 
        a(href="/camisetas") Ver camisetas
    if isAdmin
      div 
        a(href="/admin/indexRegistrado") Ver camisetas