extends ../layouts/main

block contenido
  // Enlace al nuevo CSS de checkout
  link(rel="stylesheet", href="/css/pedido/checkout.css") 
  
  // Usamos el contenedor para centrar todo el contenido de la página
  .container.neobrutalismo-checkout-container
    
    // Tarjeta que envuelve el título, el total y el formulario
    .neobrutalismo-checkout-card.text-center
      
      h2.neobrutalismo-heading-checkout Finalizar Pedido

      p.neobrutalismo-total-text Total del pedido: 
        strong.neobrutalismo-total-amount #{total} €

      form(action='/pedido/confirmar' method='POST')
        // Aplicamos la clase brutalista al botón de acción principal
        button.neobrutalismo-confirm-button(type='submit') CONFIRMAR PEDIDO