/* ==================================== */
/* PIE DE PÁGINA (FOOTER) - BLOQUE PESADO */
/* ==================================== */

footer {
    /* El Bloque Brutalista */
    margin-top: 50px; 
    padding: 30px 20px; /* Relleno generoso */
    width: 100%;
    
    background-color: #e0e0e0; /* Gris Pizarra Oscuro */
    color: #1A4D90; /* Texto en Amarillo Brillante (Alto Contraste) */
    font-family: 'Arial Black', sans-serif;
    text-align: center;
    
    /* Bordes y Sombra Proyectada */
    border-top: 5px solid #000000; 
    border-bottom: 5px solid #000000; 
    box-shadow: 0px -10px 0px #ff69b4; /* Sombra proyectada hacia arriba (Rojo Intenso) */
}

/* Estilos para el texto de identificación */
footer p {
    font-size: 1.1em;
    font-weight: 900;
    margin: 5px 0;
}


/* /css/layouts/pie.css */
.user-highlight-footer {
    color: #33FFC7; /* Verde Menta Brillante para el dato clave */
    background-color: #1A1A1A; /* Negro Fuerte - El color de tu texto principal / bordes */
    text-transform: uppercase;
    padding: 2px 5px;
    font-weight: bold; /* Opcional: Para darle más peso */
}


/* Estilo para el texto de 'Usuario anónimo.' */
/* Si el texto 'Usuario anónimo' se muestra: */
footer p:last-of-type {
    color: #1A1A1A; /* Naranja Brillante para señalar que no está logueado */
}
